# Mac system files
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Environment variables (where we will eventually hide your path)
.env
__pycache__/

# Foundry
contracts/out/
contracts/cache/

# Data
data/review_state.json
out/
cache/
